Repository anoobindisguise/Cataclysm-DDA, pull requests merged in 2022-09, with the labels that each got.

#90 suggested changes
  data/json/body_parts.json
  src/bodypart.cpp
  src/character_attire.cpp
  src/item_factory.cpp
Labels: [C++], [JSON], Limbs

#95 Correct encumbrance for ballistic vests
  data/json/items/armor/ballistic_armor.json
Labels: [JSON], Items: Armor / Clothing

#106 personal layer doesn't conflict
  src/character_attire.cpp
Labels: [C++]
