Repository anoobindisguise/Cataclysm-DDA, pull requests merged in 2022-08, with the labels that each got.

#51 qt survivor machete and tweaks
  data/json/items/melee/swords_and_blades.json
  data/json/recipes/weapon/cutting.json
Labels: [JSON], Crafting / Construction / Recipes

#49 cheese powder
  data/json/items/comestibles/dairy.json
  data/json/recipes/food/dry.json
  data/json/recipes/food/pasta.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Labels: [JSON], Crafting / Construction / Recipes

#58 machete recipe fixes
  data/json/recipes/weapon/cutting.json
Labels: [JSON], Crafting / Construction / Recipes

#64 add crowbars to batons group
  data/json/items/tool/entry_tools.json
Labels: [JSON]

#70 neoprene doesn't breathe
  data/json/materials.json
Labels: [JSON]

#79 steel and kevlar ablative plates are sturdy
  data/json/items/armor/ballistic_armor.json
Labels: [JSON], Items: Armor / Clothing

#83 needed change
  src/character_attire.cpp
Labels: [C++]
